.Notifications {
    border: 2px dashed red;
    padding: 10px;
  }

.Notifications button img {
    width: 10px;
}

[data-priority="default"] {
  color: blue;
}

[data-priority="urgent"] {
  color: red;
}