#count {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#logo {
    width: 200px;
    height: 200px;
    background: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
  }